<footer>
  <div class="container pb-3">
    <div class="row">
      <div class="col logo">
        <img class="img-fluid" src="assets/logo2.png">
      </div>
      <div class="col help-center">
        <h3>{{'Client' }}</h3>
        <p routerLink="/filters">Become a client</p>
        <p routerLink="/faqs">Earnings</p>
        <p routerLink="/sell">Country</p>
        <p>Help</p>
        <p>Safety</p>
        <p>Application Requirements</p>
        <p>Express Drive</p>
        <p>Business Profile</p> 
      </div>
      <div class="col refund">
        <h3>{{"Partner" }}</h3>
        <!-- <p routerLink="/profile"  [queryParams]="{'showTab':'v-pills-issue-tab'}">{{"RANDR" }}</p> -->
        <p>Sign up to partner</p>
        <p class="mb-2">Fare estimate</p>
        <p>Cities</p>
        <p>Help</p>
        <p class="mb=2">Safety</p>
        <p>Rewards</p>
        <p class="mb-2">Events</p>
        <p>Donate</p>
        <p>Blog</p>

      </div>
      <div class="col about-us">
        <h3>{{"Heera Technologies" }}</h3>
        <p>Careers</p>
        <p class="mb-4">Business</p>
        <p>Developers</p>
        <p>Press</p>
        <p>Investor Relations</p> 
      </div>
      <div class="col social">
        <!-- <h3>{{"SOCIALMEDIA" }}</h3> -->
        <span>          
          <ngx-fa name="facebook-f"></ngx-fa>
        </span>
        <span>          
          <ngx-fa name="instagram"></ngx-fa>
        </span>
        <span>          
          <ngx-fa name="twitter"></ngx-fa>
        </span>
 
      </div>
    </div>
  </div>
  <div class="bottom-part">
    <div class="float-right">
        <a>Terms </a>
        <a>Conditions </a>
   
        <span>All rights reserved for &#169; Heera Technologies</span>
    </div>

    <div class="clearfix"></div>
  </div>
</footer>