@import "src/variables";

footer{
    background-color: $bg-color2;
    padding:2rem 0 3rem;
    .logo{
        width:100%;
        height:auto;
        p{
            font-size:30px;
        }
    }
    h3{
        font-size:13px;
        font-family: 'Gotham-Bold';
    }
    p{
        color:$font-color2;
        margin: 0;
        font-size: 13px;
        cursor: pointer;
        transition: .4s;
    }
    p:hover{
        color:$font-color;
    }
    ngx-fa{
        color:$font-color;
        margin-right: 20px;
    }
    .refund{
        // margin-top:2.5rem;
    }
}
