@import "src/variables";

footer{
    background-color: $bg-color2;
    padding:2rem 0 0;
    .logo{
        width:100%;
        height:auto;
        p{
            font-size:30px;
        }
    }
    h3{
        font-size:13px;
    }
    p{
        color:$font-color2;
        margin: 0;
        font-size: 13px;
        cursor: pointer;
        transition: .4s;
    }
    p:hover{
        color:$font-color;
    }
    ngx-fa{
        color:$font-color;
        margin-right: 20px;
    }
    .bottom-part{
        background-color: #d6d6fa;
        margin-top:10px;
        padding:5px 10px;
        span{
            font-size: 12px;
        }
        a{
            margin-right:20px;
            font-size: 12px;
            text-decoration: underline;
            color:$font-color;
        }
    }
}
