@import "src/variables";

nav.my-nav{
    background-color: transparent!important;
    .navbar-brand{
        img{
            width:300px;
            height:100px;
        }
    }
}
#choose{
    h3{
        color:rgb(233, 49, 49);
    }
    .container{
        min-height: 40vh;
        padding-top:80px;
        button{
            background-color: transparent;
            border:1px solid $bg-color;
            color: $bg-color;
            width:250px;
            height:50px;
            margin-top:40px;
        }
        button:hover{
            background-color: $button1-bgColor;
            border:1px solid $button1-bgColor;
            color:#fff;
        }
    }
}
#signIn{
    color:$font-color2;
    min-height: 70vh;
    padding-top:30px;
    h3{
        color:rgb(233, 49, 49);
    }
    form{
        width:60%;
        margin:40px auto;
        input{
            margin-top:20px;
        }
        input[type="checkbox"]{
            margin-top:0;
        }
        .row{
            justify-content: space-between;
            padding:10px 15px;
            .forgot-pass{
                color:$bg-color;
                cursor: pointer;
            }
        }
        button{
            background-color: transparent;
            border:1px solid $bg-color;
            color: $bg-color;
            width:250px;
            height:50px;
            margin-top:40px;
            border-radius: 30px;
        }
    }
}
footer{
    display: none;
}
