<section id="landing">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            Power your business with <span>Heera’s</span> employee scheduling software and temp staffing solutions
          </h1>
          <p>
            We’re a digital platform that is tackling the outdated HR space and moving the industry to the 21st century.
          </p>
          <button class="btn">
            Start free trial now!
          </button>
        </div>

        <div class="col-md-6">
          <div class="imgs">
            <div class="img1">
              <div class="square">
                <img class="img-fluid" src="/assets/emplyee1.jpg">

              </div>
            </div>
            <div class="img2">
              <div class="square">
                <img class="img-fluid" src="/assets/employee2.jpg">
              </div>
            </div>
            <div class="img3">
              <div class="square">
                <img class="img-fluid" src="/assets/employee3.jpg">

              </div>
            </div>
            <!-- <div class="img4">
              <img class="img-fluid" src="/assets/employee4.jpg">
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="info">
    <h2 class="text-center">The employee scheduling tool that saves you time and money</h2>
    <div class="details">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="detail">
              <ngx-fa name="rocket"></ngx-fa>
              <h3>Manage your organization</h3>
              <p>
                Manage multiple locations and customize your company structure as you wish.
              </p>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="detail">
              <ngx-fa name="calendar"></ngx-fa>
              <h3>Schedule your employee’s shifts</h3>
              <p>
                Save up to 10 hours per week by simplifying your staff scheduling process.
              </p>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="detail">
              <ngx-fa name="opencart"></ngx-fa>
              <h3>Access staffing marketplace</h3>
              <p>Easily create staffing orders indicating positions, time-slots, clothing, and skills.
              </p>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="detail">
              <ngx-fa name="money"></ngx-fa>
              <h3>Automate payroll and timesheets</h3>
              <p>
                Automate payroll and timesheets.
              </p>
            </div>
          </div>
        </div>

        

      </div>
    </div>
  </div>

  <div class="info2 text-center py-5">
    <h2>Industry-leading brands have used Hyre</h2>
    <p>
      Use Hyre to manage your team’s schedules,<br> communication, time-clock, time-tracking, and payroll files–all in a matter of minutes.<br> Get away from excel sheets and back-and-forth emails with your team.
    </p>
  </div>
  <div class="info3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="assets/stat1.png">
        </div>
        <div class="col-md-6">
          <h2>Manage & schedule your employee’s shifts statistics.</h2>
          <p>Create employee schedules in minutes. Assign staff or allow them to pick the shifts up on their own. Fill gaps in your schedule with temp staff with a click of a button!</p>
          <div class="row">
            <div class="col-md-6">
              <ngx-fa name="check"></ngx-fa>
              <p>Manage in-house staff</p>
            </div>
            <div class="col-md-6">
              <ngx-fa name="check"></ngx-fa>
              <p>Manage multiple locations</p>
            </div>
            <div class="col-md-6">
              <ngx-fa name="check"></ngx-fa>
              <p>Hire temp staff</p>
            </div>
            <div class="col-md-6">
              <ngx-fa name="check"></ngx-fa>
              <p>Integrate payroll management</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
