@import "src/variables";

nav.my-nav{
    background-color: transparent!important;
    form{
        position: relative;
        padding:0 20px;
        width:300px;
        input{
            width:100%;
            padding:10px 25px;
        }
        button{
            background-color: transparent;
            border: none;
            position: absolute;
            right:30px;
            top:7px;
            ngx-fa{
                font-size:.7rem;
                color:rgba(0,0,0,0.5);                
            }
        }
        .circle{
            position: absolute;
            top:40%;
            left:30px;
            width: 10px;
            height: 10px;
            border: 3px solid $bg-color;
            border-radius: 50%; 
        }
    }
    .logged-form{
        width:400px;
        margin-left:10px;
    }
    .navbar-brand{
        img{
            width:300px;
            height:100px;
        }
    }
    .nav-link{
        transition: .3s;
        text-align: left;
        color:$font-color;
    }
    .nav-link:hover,.navbar-brand:hover,.btn-group a:hover,.btn-group2 a:hover{
        color:$font-color2;
    }
    .btn-group,.btn-group2{
        cursor: pointer;
        transition: 1s;
        position: relative;
    }
    
    .dropdown-menu{
        transition: 1s;
        left:-90px;
        li{
            margin-bottom: 5px;
            padding:5px;
            // border-bottom: 1px solid rgba(0,0,0,0.2);
            cursor: pointer;
        }
        li:not(.user):hover{
            background-color: #dadada;
        }
        .submenu{
            p,ngx-fa{
                color:$font-color3;
                display:inline-block;
                margin:0 5px;
            }
            span{
                color:$font-color3;
                font-size: 13px;
                display: block;
                margin:0 5px;
            }
            .user-img{
                background-color: #dadada;
                border-radius: 50%;
                width:20px;
                height:20px;
                display: inline-block;
                ngx-fa{
                    color:white;
                }
            }
        }
    }
    .dropdown-menu2{
        display: none;
        left:-120px;
        transition: 1;
        background-color: white;
        position: absolute;
    }
    .btn-group:hover .dropdown-menu1 {
        display: block;
    }
    .btn-group2:hover .dropdown-menu2 {
        display: block;
    }

    .profile{
        background-color: #dadada;
        width:40px;
        height:40px;
        border-radius: 50%;
        text-align: center;
        padding-top:0;
        cursor: pointer;
        ngx-fa{
            color:#fff;
            font-size: 2rem;
        }
    }
   
}
.narrow{
    padding:0 120px;
}
.fs-18{
    font-size: 18px;
}
