
<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav" [class.narrow]="isSigned" ngxNavbarDynamicExpand>
  <a class="navbar-brand" routerLink="/"><img class="img-fluid" src="assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ngx-navbar-collapse *ngIf="!isSigned" #collapse="ngxNavbarCollapse" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto navbar-nav">
      <!-- INDUSTRIES -->
      <li>
        <div class="btn-group">
          <a class="nav-link pb-1">Industries <ngx-fa name="caret-down" size="lg"></ngx-fa></a>
          <ul class="dropdown-menu dropdown-menu1">
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry1</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry2</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry3</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry4</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry5</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry6</a>
            </li>
            <li class="industry" [routerLink]="['/filters']">
              <a>Industry7</a>
            </li>
          </ul>
        </div>  
      </li>

      <li>
        <a class="nav-link btn login" (click)="collapse.toggle()" routerLink="/product">product</a>
      </li>
      <!-- COMPANY -->
      <li>
        <div class="btn-group">
          <a class="nav-link pb-1">Companies <ngx-fa name="caret-down" id="navSearch" (click)="collapse.toggle()" size="lg"></ngx-fa></a>
          <ul class="dropdown-menu dropdown-menu1">
            <li class="company" [routerLink]="['/filters']">
              <a>company1</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company2</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company3</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company4</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company5</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company6</a>
            </li>
            <li class="company" [routerLink]="['/filters']">
              <a>company7</a>
            </li>
          </ul>
        </div>
        
      </li>
     
    </ul>
   <ul class="navbar-nav ml-auto">
    <li>
      <form class="form-inline my-2 my-lg-0">
        <span class="circle"></span>
        <input class="form-control mr-sm-2" type="search" placeholder="SEARCH" name="search" aria-label="Search">
        <button type="submit">
          <ngx-fa name="search" id="navSearch" (click)="collapse.toggle()" size="lg"></ngx-fa>

        </button>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </li>
     <li>
      <a class="nav-link btn login" (click)="collapse.toggle()" routerLink="/signin">{{"SIGN IN"}}</a>
     </li>
     <li>
      <a class="nav-link btn signup" (click)="collapse.toggle()" routerLink="/signup">{{"SIGN UP"}}</a>
     </li>
     
   </ul>
   
  </ngx-navbar-collapse>

  <ngx-navbar-collapse *ngIf="isSigned" #collapse="ngxNavbarCollapse" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto navbar-nav">
      <li>
        <form class="form-inline logged-form my-2 my-lg-0">
          <span class="circle"></span>
          <input class="form-control mr-sm-2" type="search" placeholder="SEARCH" name="search" aria-label="Search">
          <button type="submit">
            <ngx-fa name="search" id="navSearch" size="lg"></ngx-fa>
  
          </button>
        </form>
      </li>
      
     <li>
      <a class="nav-link btn login fs-18" (click)="collapse.toggle()">{{"Jobs"}}</a>
     </li>

     <li>
      <a class="nav-link btn login fs-18" (click)="collapse.toggle()">{{"Talents"}}</a>
     </li>

     <li>
      <a class="nav-link btn login fs-18" (click)="collapse.toggle()">{{"Report"}}</a>
     </li>

     

    </ul>

   <ul class="navbar-nav mr-auto pr-5">
    <li>
      <div class="btn-group">
        <a class="nav-link btn login p-0">
          <div class="profile">
            <ngx-fa name="user"></ngx-fa>
          </div>
        </a>

        <ul class="dropdown-menu dropdown-menu1">
           <li class="submenu user">
             <div class="user-img">
              <ngx-fa name="user"></ngx-fa>
             </div>
            <p>Username</p>
            
            <span>{{isClient?'Client':'Partner'}}</span>

          </li>
          <li   *ngIf="isClient" class="submenu" routerLink="/profile/client">
            <ngx-fa name="cog"></ngx-fa>
            <p>Profile</p>
          </li>
          <li   *ngIf="!isClient" class="submenu" routerLink="/profile/partner">
            <ngx-fa name="user"></ngx-fa>
            <p>Profile</p>
          </li>

          <li class="submenu">
            <div class="btn-group2">
              <a class="nav-link p-0">
                <ngx-fa name="cog"></ngx-fa>
                <p>Settings</p> 
              </a>
              <ul class="dropdown-menu dropdown-menu2">
                <li class="submenu">
                  <ngx-fa name="user"></ngx-fa>
                  <a>My Info</a>
                </li>
                <li class="submenu" routerLink="profile/change-password">
                  <ngx-fa name="lock"></ngx-fa>
                  <a>Password & Security</a>
                </li>
              </ul>
            </div>
                    
          </li>

          <li class="submenu" (click)="logout()">
            <ngx-fa name="sign-out"></ngx-fa>
            <p>Logout</p>
            
          </li>
        </ul>
      </div>
      
   
     </li>
    
    
     
   </ul>
   
  </ngx-navbar-collapse>
</nav>