<section id="change-password">
  <div class="container text-center">
    <h2>Change your password</h2>
    <form #changeForm="ngForm" (ngSubmit)="change(changeForm)">
      <input class="form-control" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" required type="password" ngModel placeholder="Password">     
      <input class="form-control" name="confirm_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" required type="password" ngModel placeholder="Confirm Password">   
      <p>{{err}}</p>  
      <button class="btn">Change</button>
    </form>
  </div>
</section>