<section id="verify">
  <div class="container text-center">
    <div class="check">
      <ngx-fa name="check"></ngx-fa>
    </div>
    <!-- <h2>Verify your email to proceed.</h2> -->
    <!-- <p>We just send an email to the email address you entered.<br>Please check your email and enter the otp sent to you.</p> -->
    <p>{{text}}</p>
    <!-- <button class="btn" (click)="send()">Send</button> -->

    <!-- <button class="btn" (click)="resend()">Resend Verification Email</button> -->
  </div>
</section>
