<section id="partner-profile">
  <div class="container">
    <div class="profile">
      <div class="header">
        <div class="row">
          <div class="col-md-9">
            <div class="user">
              <div class="img">
                <img class="img-fluid" src="../../../assets/coffee.jpg">
  
              </div>
              <div class="info">
                <p>Username</p>
                <ngx-fa name="map-marker" class="mr-2"></ngx-fa>
                <span>location</span>
              </div>
            </div>
          
          </div>
          <div class="col-md-3">
            <div class="title">
              <p>User title</p>
              <button title="Upload proof of legal business registeration">Upload Proof</button>
            </div>
          </div>
        </div>
      </div>
      <div class="details">

        <div>
          <tabset type="pills" vertical="true">
            <tab heading="About" id="tab1">
              <div class="user-desc">
                <h1>User Job Title</h1>
                <p>
                  "a well-made website will promote you 24/7. No employee will do that."<br>
                  I'm a front-end developer with an emphasis on clean, responsive design. I'm perfect for implementing a well-thought-out Wireframe with HTML5, CSS (or SASS), Javascript, and Jquery. If you need a developer to help design from the bottom up, I love crafting responsive designs that inform the user and work well across browsers and devices.<br>
                  <br>
                  I love JS frameworks like Angular, React, and I am also comfortable with pure HTML, CSS, and js.<br>
                  I love graphic design and am very comfortable editing in Photoshop, as well as making vector artwork in Illustrator.<br>
                  <br>
                  I design pages for projects that are made for valuable purposes.<br>
                  Money could be returned if the user is not satisfied after the first draft or any early problem.<br>
                  i am always available and easy to contact.
                </p>
              </div>

            </tab>
            <tab heading="Category">
              <div class="cats">
                <label>What is the category of your work?</label>
                <select>
                  <option selected hidden>Select a main category</option>
                  <option>category1</option>
                </select>
                <select>
                  <option selected hidden>Select a subcategory category</option>
                  <option>sub category1</option>
                </select>
              </div>
            </tab>
            <tab heading="Language">
              <div class="cats">
                <label>What is the category of your work?</label>
                <select>
                  <option selected hidden>Select a main category</option>
                  <option>category1</option>
                </select>
                <select>
                  <option selected hidden>Select a subcategory category</option>
                  <option>sub category1</option>
                </select>
              </div>
            </tab>
            <tab heading="Availability">
              <div class="cats">
                <label>What is the category of your work?</label>
                <select>
                  <option selected hidden>Select a main category</option>
                  <option>category1</option>
                </select>
                <select>
                  <option selected hidden>Select a subcategory category</option>
                  <option>sub category1</option>
                </select>
              </div>
            </tab>
          </tabset>
        </div>
        
      </div>
      
    </div>
   
  </div>
</section>